body {
  background-color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272844;
  text-align: center;
}

.container {
  margin: 120px auto;
max width: 600px;
background-color: #f7eafc;
border: solid thin;
border-radius: 10px;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  display: flex;
  margin-bottom: 20px;
}

footer {
  padding: 15px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;

}
.instructions {
  padding: 15px;
  border: 1px solid gray;
  width: 80%;
  font-size: 16px;
  line-height: 20px;
  color:dimgray;
  border-radius: 50px;
}

.submit-button {
  margin-left: 10px;
  background: black;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem{
  font-size: 14px;
  background-color: #ffffff;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid black;
  width: 80%;
  margin: 0 auto;
}

.hidden{
  display:none;
}